
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px; /* Or 14px, or whatever base size you want */
  }
}

#root {
  width: 100%;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}